# PyCity Schools Analysis

- Your analysis here
  
---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sd_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sd_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = len(sd_complete["school_name"].unique())
school_count

15

In [4]:
# Calculate the total number of students
student_count = sd_complete["Student ID"].count()
student_count

39170

In [5]:
# Calculate the total budget
total_budget = sum(sd_complete["budget"].unique())
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = sd_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = sd_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = sd_complete[(sd_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = sd_complete[(sd_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = sd_complete[
    (sd_complete["math_score"] >= 70) & (sd_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Number of Schools":[school_count],
                     "Number of Students":[student_count],
                     "Total Budget":[total_budget],
                     "Average Math Score":[average_math_score],
                     "Average Reading Score":[average_reading_score],
                     "Students Passing Math":[passing_math_percentage],
                     "Students Passing Reading":[passing_reading_percentage],
                     "Overall Passing Rate":[overall_passing_rate]})

district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:,.2f}'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:,.2f}'.format)
district_summary['Students Passing Math'] = district_summary['Students Passing Math'].map('%{:,.2f}'.format)
district_summary['Students Passing Reading'] = district_summary['Students Passing Reading'].map('%{:,.2f}'.format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map('%{:,.2f}'.format)

# Display the DataFrame
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Students Passing Math,Students Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,%74.98,%85.81,%65.17

## School Summary

In [12]:
# Use the code provided to select all of the school types
per_school = sd_complete.set_index(["school_name"])["type"]
per_school

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [13]:
# Calculate the total student count per school
per_school_students = sd_complete["school_name"].value_counts()
per_school_students

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [26]:
# Calculate the total school budget and per capita spending per school
per_school_budget = sd_complete["budget"].unique()
per_school_capita = per_school_budget/per_school_students
per_school_capita

school_name
Bailey High School        383.970056
Johnson High School       395.801512
Hernandez High School     227.961165
Rodriguez High School     755.693923
Figueroa High School      311.122414
Huang High School         452.373672
Ford High School          394.799562
Wilson High School       1368.781428
Cabrera High School       133.523681
Wright High School        325.476667
Shelton High School       595.911414
Thomas High School       1558.020183
Griffin High School      2108.072207
Pena High School         1833.592516
Holden High School       2442.927400
Name: count, dtype: float64

In [27]:
# Calculate the average test scores per school
per_school_passing_math = sd_complete.groupby(["school_name"]).mean("math_score")
per_school_passing_reading = sd_complete.groupby(["school_name"]).mean("reading_score")

In [28]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = sd_complete[(sd_complete["math_score"] >= 70)].groupby(["school_name"])
students_passing_math

In [29]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = sd_complete[(sd_complete["reading_score"] >= 70)].groupby(["school_name"])
students_passing_reading

In [30]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = sd_complete[
    (sd_complete["reading_score"] >= 70) & (sd_complete["math_score"] >= 70)
]
ps_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
ps_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [31]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({
    
    #"School Name":per_school,
    "Total Students":per_school_students,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_school_capita,
    #"Students Passing Math":per_school_passing_math,
    #"Students Passing Reading":per_school_passing_reading,
    #"Overall Students Passing":ps_students_passing_math_and_reading
})

# Formatting
#per_school_summary["Total Student Budget"] = per_school_summary["Total Student Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

                       Total Students  Total School Budget  Per Student Budget
school_name
Bailey High School               4976              1910635          383.970056
Johnson High School              4761              1884411          395.801512
Hernandez High School            4635              1056600          227.961165
Rodriguez High School            3999              3022020          755.693923
Figueroa High School             2949               917500          311.122414
Huang High School                2917              1319574          452.373672
Ford High School                 2739              1081356          394.799562
Wilson High School               2283              3124928         1368.781428
Cabrera High School              1858               248087          133.523681
Wright High School               1800               585858          325.476667
Shelton High School              1761              1049400          595.911414
Thomas High School               1635              2547363         1558.020183
Griffin High School              1468              3094650         2108.072207
Pena High School                  962              1763916         1833.592516
Holden High School                427              1043130         2442.927400

## Highest-Performing Schools (by % Overall Passing)

In [32]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='Overall Students Passing', ascending=False)
top_schools.head(5)

KeyError: 'Overall Students Passing'

## Bottom Performing Schools (By % Overall Passing)

In [33]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='Overall Students Passing', ascending=True)
bottom_schools.head(5)

KeyError: 'Overall Students Passing'

## Math Scores by Grade

In [46]:
# Use the code provided to separate the data by grade
ninth_graders = sd_complete[(sd_complete["grade"] == "9th")]
tenth_graders = sd_complete[(sd_complete["grade"] == "10th")]
eleventh_graders = sd_complete[(sd_complete["grade"] == "11th")]
twelfth_graders = sd_complete[(sd_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"]).mean("math_score")
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean("math_score")
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean("math_score")
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean("math_score")

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
              "9th": [ninth_grader_math_scores],
              "10th": [tenth_grader_math_scores],
              "11th": [eleventh_grader_math_scores],
              "12th": [twelfth_grader_math_scores]})


# Minor data wrangling
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th,10th,11th,12th
0,Student ID reading_s...,Student ID reading_s...,Student ID reading_s...,Student ID reading_s...

## Reading Score by Grade

In [47]:
# Use the code provided to separate the data by grade
ninth_graders = sd_complete[(sd_complete["grade"] == "9th")]
tenth_graders = sd_complete[(sd_complete["grade"] == "10th")]
eleventh_graders = sd_complete[(sd_complete["grade"] == "11th")]
twelfth_graders = sd_complete[(sd_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"]).mean("reading_score")
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean("reading_score")
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean("reading_score")
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean("reading_score")

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
              "9th": [ninth_grader_reading_scores],
              "10th": [tenth_grader_reading_scores],
              "11th": [eleventh_grader_reading_scores],
              "12th": [twelfth_grader_reading_scores]})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th
0,Student ID reading_s...,Student ID reading_s...,Student ID reading_s...,Student ID reading_s...

## Scores by School Spending

In [51]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [52]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [53]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,Total Students,Total School Budget,Per Student Budget,Spending Ranges (Per Student)
school_name,,,,
Bailey High School,4976,1910635,383.970056,<$585
Johnson High School,4761,1884411,395.801512,<$585
Hernandez High School,4635,1056600,227.961165,<$585
Rodriguez High School,3999,3022020,755.693923,NaN
Figueroa High School,2949,917500,311.122414,<$585
Huang High School,2917,1319574,452.373672,<$585
Ford High School,2739,1081356,394.799562,<$585
Wilson High School,2283,3124928,1368.781428,NaN
Cabrera High School,1858,248087,133.523681,<$585
Wright High School,1800,585858,325.476667,<$585
Shelton High School,1761,1049400,595.911414,$585-630
Thomas High School,1635,2547363,1558.020183,NaN
Griffin High School,1468,3094650,2108.072207,NaN
Pena High School,962,1763916,1833.592516,NaN
Holden High School,427,1043130,2442.927400,NaN

In [54]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Column not found: Average Math Score'

In [55]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

SyntaxError: invalid syntax (1784604702.py, line 2)

## Scores by School Size

In [56]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [58]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary, size_bins, labels=labels)
per_school_summary

ValueError: Input array must be 1 dimensional

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [23]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

SyntaxError: invalid syntax (2591471974.py, line 3)

## Scores by School Type

In [24]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [25]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary

SyntaxError: invalid syntax (3938338981.py, line 2)